body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                         'navbar navbar navbar aside'
                         'section section section aside'
                         'footer footer footer footer';
    grid-template-rows: 50vh 5vh 60vh 6.8vh;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: rgba(54, 54, 58, 0.752);
    display: flex;
}
#icone{
    width: 50%;
}
#icone img{
    width: 50px;
}
header{
    background-image: url(https://cdn.pixabay.com/photo/2014/09/22/00/57/live-concert-455762_960_720.jpg);
    background-size: cover;
    grid-area: header;
}
footer{
    grid-area: footer;
    background-color: rgba(15, 15, 19, 0.752);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
footer div img{
    width: 30px;
}