body{
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header header'
                         'main main main main'
                         'footer footer footer footer';
    grid-template-rows: 50vh 70vh 8vh;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: rgba(54, 54, 58, 0.752);
    display: flex;
    align-items: center;
    color: orange;
    height: 10%;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
nav div span{
    border: none;
    border-radius: 8px 8px 8px 8px;
    font-size: 13pt;
}
nav a{
    color: white;
    text-decoration: none;
}
#icone{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
#icone img{
    width: 50px;
}
#login{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

header{
    background-image: url(../images/Banner-sitePNG.png), url(https://i.giphy.com/media/ilRiGYd7xzr9e/giphy.webp);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: header;
}
footer{
    grid-area: footer;
    background-color: rgba(15, 15, 19, 0.752);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
footer div img{
    width: 30px;
}
main{
    grid-area: main;
    background-color: white;
}


@media (max-width:768px){
    nav{
       display: none;
    }
    #login{
        width: 70%;
    }
    #icone{
        flex-direction: column;
    }
}

@media (max-width:425px){
    
}