{% extends 'base.html' %}

{% block title %} Bilheteiro {% endblock %}

{% block content %}

<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis luctus nulla. Sed turpis nisl, suscipit id ornare nec, congue pharetra felis. Aliquam iaculis congue lorem ac ultricies. Proin facilisis augue venenatis, tempus sapien vitae, aliquam mi. Nullam facilisis eleifend eros, eu consectetur sem. Sed sed mi vitae neque ultrices pulvinar. Integer tincidunt, ex eget scelerisque ultricies, nisl est viverra nisi, at interdum magna enim molestie justo.
</p>

{% endblock %}
