{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Nome provisório do projeto -->
    <title>Bilheteiro</title>
</head>
<body>
    <nav>
        <div id="icone">
            <img src="https://image.flaticon.com/icons/svg/25/25219.svg" alt="Logo com imagem de ticket">
        </div>
        <div>
            <input type="email" name="Email" id="">
            <input type="password" name="Senha" id="">
            <button type="submit">Entrar</button>
        </div>
    </nav>
    
</body>
</html>